## LCM scikit-mine : pattern mining in Python

In [11]:
!pip install -U scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0.1)
Collecting scikit-learn
  Downloading scikit_learn-1.0.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (24.8 MB)
     |████████████████████████████████| 24.8 MB 1.3 MB/s
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.19.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.1
    Uninstalling scikit-learn-1.0.1:
      Successfully uninstalled scikit-learn-1.0.1
Successfully installed scikit-learn-1.0.2

In [32]:
ex = [[1, 2, 5, 6, 7, 9],
          [2, 3, 4, 5],
          [1, 2, 7, 8, 9],
          [1, 7, 9],
          [2, 7, 9],
          [2]]

In [54]:
from skmine.itemsets import LCM
lcm = LCM(min_supp=1, n_jobs=4)
# minimum support of 2000, running on 4 processes
%time patterns = lcm.fit_discover(ex)

CPU times: user 32.3 ms, sys: 0 ns, total: 32.3 ms
Wall time: 240 ms

In [55]:
patterns.shape

(9, 2)

In [56]:
patterns[patterns.itemset.map(len) > 0]

              itemset  support
0                (2,)        5
1              (7, 9)        4
2           (1, 7, 9)        3
3           (2, 7, 9)        3
4        (1, 2, 7, 9)        2
5  (1, 2, 5, 6, 7, 9)        1
6     (1, 2, 7, 8, 9)        1
7              (2, 5)        2
8        (2, 3, 4, 5)        1

Пример с использованием датасета chess

In [38]:
from skmine.datasets.fimi import fetch_chess
chess = fetch_chess()
chess.head()

0    [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25...
1    [1, 3, 5, 7, 9, 12, 13, 15, 17, 19, 21, 23, 25...
2    [1, 3, 5, 7, 9, 12, 13, 16, 17, 19, 21, 23, 25...
3    [1, 3, 5, 7, 9, 11, 13, 15, 17, 20, 21, 23, 25...
4    [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25...
Name: chess, dtype: object

In [42]:
from skmine.itemsets import LCM
lcm = LCM(min_supp=2000, n_jobs=4)
# minimum support of 2000, running on 4 processes
%time patterns2 = lcm.fit_discover(chess)

/usr/local/lib/python3.7/dist-packages/joblib/externals/loky/process_executor.py:705: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

CPU times: user 967 ms, sys: 597 ms, total: 1.56 s
Wall time: 37.6 s

In [44]:
patterns2.shape

(68967, 2)

In [48]:
patterns2[patterns2.itemset.map(len) > 3]

                    itemset  support
12           (5, 7, 17, 58)     2204
14           (5, 9, 17, 58)     2088
18           (5, 7, 21, 58)     2034
22           (5, 7, 25, 58)     2539
24           (5, 9, 25, 58)     2365
...                     ...      ...
68956  (29, 40, 48, 52, 54)     2012
68957  (36, 40, 48, 52, 54)     2012
68964      (29, 40, 52, 70)     2001
68965      (29, 40, 58, 70)     2006
68966  (29, 40, 52, 58, 70)     2000

[67716 rows x 2 columns]

In [21]:
patterns.nlargest(10, columns=['support'])  # top 10 patterns

            itemset  support
0             (58,)     3195
8824          (52,)     3185
2670       (52, 58)     3184
10651         (29,)     3181
29         (29, 58)     3180
8853       (29, 52)     3170
10686         (40,)     3170
386        (40, 58)     3169
2699   (29, 52, 58)     3169
9036       (40, 52)     3159